# Ebay German Car Data Analysis with Pandas

## Section 1: Introduction to the dataset

The dataset was originally scraped and uploaded to Kaggle. This was sampled and a few modifications were made from the original dataset that was uploaded to Kaggle:

- Sampled 50,000 data points from the full dataset, to ensure the code runs quickly in the hosted environment
- Dirtied the dataset a bit to more closely resemble what one would expect from a scraped dataset (the version uploaded to Kaggle was cleaned to be easier to work with)

The data dictionary provided with data is as follows:

1. dateCrawled - When this ad was first crawled. All field-values are taken from this date.
2. name - Name of the car.
3. seller - Whether the seller is private or a dealer.
4. offerType - The type of listing
5. price - The price on the ad to sell the car.
6. abtest - Whether the listing is included in an A/B test.
7. vehicleType - The vehicle Type.
8. yearOfRegistration - The year in which the car was first registered.
9. gearbox - The transmission type.
10. powerPS - The power of the car in PS.
11. model - The car model name.
12. kilometer - How many kilometers the car has driven.
13. monthOfRegistration - The month in which the car was first registered.
14. fuelType - What type of fuel the car uses.
15. brand - The brand of the car.
16. notRepairedDamage - If the car has a damage which is not yet repaired.
17. dateCreated - The date on which the eBay listing was created.
18. nrOfPictures - The number of pictures in the ad.
19. postalCode - The postal code for the location of the vehicle.
20. lastSeenOnline - When the crawler saw this ad last online.

The aim of this project is to clean the data and analyze the included used car listings. 

### Import Dataset and Libraries

In [1]:
import numpy as np
import pandas as pd

autos=pd.read_csv("autos.csv", encoding="Windows-1252")
autos.info()
print('\n')
print(autos.head(3))
print('\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB


           dateCrawled                                        name  seller  \
0  2016-03-26 17:47:46            Peugeot_807_160_NAVTECH_ON_BOARD  privat
1  2016-04-04 13:38:56  BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik  privat
2  2016-03-26 18:57:24                  Volkswagen_Golf_1.6_United  privat

  offerType   price   abtest vehicleType  yearOfRegistration    gearbox  \
0   Angebot  $5,000  control         bus                2004    manuell
1   Angebot  $8,500  control   limousine                1997  automatik
2   Angebot  $8,990     test   limousine                2009    manuell

   powerPS   model   odometer  monthOfRegistration fuelType       brand  \
0      158  andere  150,000km                    3      lpg     peugeot
1      286     7er  150,000km                    6   benzin         bmw
2      102    golf   70,000km                    7   benzin  volkswagen

  notRepairedDamage          dateCreated  nrOfPictures  postalCode  \
0              nein  2016-03-26 00:00:00             0       79588
1              nein  2016-04-04 00:00:00             0       71034
2              nein  2016-03-26 00:00:00             0       35394

              lastSeen
0  2016-04-06 06:45:54
1  2016-04-06 14:45:08
2  2016-04-06 20:15:37

In [2]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

### Initial take on the dataset

- Much of the string inputs are in German. We may want to convert to English as well a lower the case. e.g. "manual" rather than "Manuell"
- Will want to convert as many of the columns from objects to numerical and filterable formats. e.g. odometer to int. Price to float and so on. 
- Convert column headers to include _ rather than no spaces and to keep all strings in lower case. 
- The "name" column contains much good information however it is very dirty and non generically formatted. 
- We must be careful to change the headings appropriately when we change the columns to numeric data. e.g. when we change price from "$5,000" to "5000" we must change the header from "price" to "price_dollar".
- We may also want to reorder the columns to group them together more appropriately
- Data and time are in european and 24hr formats. Not a problem but something to keep in mind. 
- The dataset contains 20 columns, most of which are strings.
- Some columns have null values, but none have more than ~20% null values.
- The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.

### CamelCase to snake_case: Column Headers

Below we created a new list of column headers and used that to replace the existing headers. We swapped camelcase for the preffered snakecase formatting and changed some of the column headers to a more descriptive form.

In [3]:
print(autos.columns)

autos.columns=['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
'odometer', 'registration_month', 'fuel_type', 'brand', 'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
'last_seen']
print("\n")
print("New Column Headers")
print(autos.columns)
print("\n")
print(autos.head())

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')


New Column Headers
Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')


          date_crawled                                               name  \
0  2016-03-26 17:47:46                   Peugeot_807_160_NAVTECH_ON_BOARD
1  2016-04-04 13:38:56         BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik
2  2016-03-26 18:57:24                         Volkswagen_Golf_1.6_United
3  2016-03-12 16:58:10  Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...
4  2016-04-01 14:38:50  Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...

   seller offer_type   price   abtest vehicle_type  registration_year  \
0  privat    Angebot  $5,000  control          bus               2004
1  privat    Angebot  $8,500  control    limousine               1997
2  privat    Angebot  $8,990     test    limousine               2009
3  privat    Angebot  $4,350  control   kleinwagen               2007
4  privat    Angebot  $1,350     test        kombi               2003

     gearbox  power_ps   model   odometer  registration_month fuel_type  \
0    manuell       158  andere  150,000km                   3       lpg
1  automatik       286     7er  150,000km                   6    benzin
2    manuell       102    golf   70,000km                   7    benzin
3  automatik        71  fortwo   70,000km                   6    benzin
4    manuell         0   focus  150,000km                   7    benzin

        brand unrepaired_damage           ad_created  nr_of_pictures  \
0     peugeot              nein  2016-03-26 00:00:00               0
1         bmw              nein  2016-04-04 00:00:00               0
2  volkswagen              nein  2016-03-26 00:00:00               0
3       smart              nein  2016-03-12 00:00:00               0
4        ford              nein  2016-04-01 00:00:00               0

   postal_code            last_seen
0        79588  2016-04-06 06:45:54
1        71034  2016-04-06 14:45:08
2        35394  2016-04-06 20:15:37
3        33729  2016-03-15 03:16:28
4        39218  2016-04-01 14:38:50

### Looking into String Columns: Dataset Reduction

We will look through the dataset using some descriptiuve techniques to tease out which sets will likely be of most use to us in analysis. Numeric colums are often more useful that string columns. Columns with very few value counts are also often unuseful.

1. Any columns that have mostly one value that are candidates to be dropped
- "seller" and "offer_type" are 99.9% one value. 
2. Any columns that need more investigation.
- "vehicle_type" would be interesting to investigate further as to what the 8 distinct types indeed are and thier frequency.
- "odometer" would be a good column to investigate further as there seem to be a strangely high frequency of "150,000km" values.
- Would also like to understand how much data we actually have to work with in "nr_of_pictures" as it is not clear from the summary.
3. Any examples of numeric data stored as text that needs to be cleaned.
- "Odometer": km removed
- "Postal_code" should be changed to int.
- "price": $ removed

In [4]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-22 09:51:06,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [5]:
print("More info on nr_of_pictures")
print(autos['nr_of_pictures'].value_counts())
print("We can see that all 50,000 items have no pictures. This is probably a column that can be removed.")
print("\n")
print("More info on fuel_type")
print(autos['fuel_type'].value_counts())
print("\n")
print("More info on odometer")
print(autos['odometer'].value_counts())
print("\n")

More info on nr_of_pictures
0    50000
Name: nr_of_pictures, dtype: int64
We can see that all 50,000 items have no pictures. This is probably a column that can be removed.


More info on fuel_type
benzin     30107
diesel     14567
lpg          691
cng           75
hybrid        37
andere        22
elektro       19
Name: fuel_type, dtype: int64


More info on odometer
150,000km    32424
125,000km     5170
100,000km     2169
90,000km      1757
80,000km      1436
70,000km      1230
60,000km      1164
50,000km      1027
5,000km        967
40,000km       819
30,000km       789
20,000km       784
10,000km       264
Name: odometer, dtype: int64

In [6]:
autos['odometer']=autos['odometer'].str.replace("km","").str.replace(",","").astype(int)
autos.rename(columns={'odometer' : 'odometer_kms'}, inplace=True)
print("Value count for stripped odometer values")
print(autos['odometer_kms'].value_counts())
print('\n')
autos['price']=autos['price'].str.replace("$","").str.replace(",","").astype(float)
autos.rename(columns={'price' : 'price_$'}, inplace=True)
print("Value count for stripped prices")
print(autos['price_$'].value_counts())

Value count for stripped odometer values
150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: odometer_kms, dtype: int64


Value count for stripped prices
0.0           1421
500.0          781
1500.0         734
2500.0         643
1200.0         639
1000.0         639
600.0          531
800.0          498
3500.0         498
2000.0         460
999.0          434
750.0          433
900.0          420
650.0          419
850.0          410
700.0          395
4500.0         394
300.0          384
2200.0         382
950.0          379
1100.0         376
1300.0         371
3000.0         365
550.0          356
1800.0         355
5500.0         340
1250.0         335
350.0          335
1600.0         327
1999.0         322
              ...
2225.0           1
69997.0          1
139997.0         1
69999.0          1
4780.0           1
8930.0           1
21599.0          1
15911.0          1
10000000.0       1
5180.0           1
919.0            1
1247.0           1
5998.0           1
27020.0          1
21888.0          1
46500.0          1
2001.0           1
2459.0           1
345000.0         1
34940.0          1
2785.0           1
5248.0           1
310.0            1
3129.0           1
69900.0          1
6202.0           1
18310.0          1
898.0            1
11240.0          1
789.0            1
Name: price_$, Length: 2357, dtype: int64

### Analysing: Price_$

In [7]:
autos["price_$"].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price_$, dtype: float64

In [8]:
print(autos["price_$"].unique().shape)

(2357,)

In [9]:
print(autos["price_$"].max())

99999999.0

In [10]:
print(autos["price_$"].value_counts())

0.0           1421
500.0          781
1500.0         734
2500.0         643
1200.0         639
1000.0         639
600.0          531
800.0          498
3500.0         498
2000.0         460
999.0          434
750.0          433
900.0          420
650.0          419
850.0          410
700.0          395
4500.0         394
300.0          384
2200.0         382
950.0          379
1100.0         376
1300.0         371
3000.0         365
550.0          356
1800.0         355
5500.0         340
1250.0         335
350.0          335
1600.0         327
1999.0         322
              ...
2225.0           1
69997.0          1
139997.0         1
69999.0          1
4780.0           1
8930.0           1
21599.0          1
15911.0          1
10000000.0       1
5180.0           1
919.0            1
1247.0           1
5998.0           1
27020.0          1
21888.0          1
46500.0          1
2001.0           1
2459.0           1
345000.0         1
34940.0          1
2785.0           1
5248.0           1
310.0            1
3129.0           1
69900.0          1
6202.0           1
18310.0          1
898.0            1
11240.0          1
789.0            1
Name: price_$, Length: 2357, dtype: int64

### Removing Outliers

In [11]:
autos=autos[autos["price_$"].between(10,500000)]
autos["price_$"].describe()

count     48401.000000
mean       5908.885457
std        9068.695231
min          10.000000
25%        1250.000000
50%        3000.000000
75%        7498.000000
max      350000.000000
Name: price_$, dtype: float64

In [12]:
print(autos["price_$"].unique().shape)

(2340,)

Note that with the filter of price between 100 and 400,000, we have removed 1600 values. This is a good sign that there were a few oddly cheap or pricey cars.

In [13]:
print(autos["price_$"].max())

350000.0

In [14]:
print(autos["price_$"].value_counts())

500.0       781
1500.0      734
2500.0      643
1000.0      639
1200.0      639
600.0       531
3500.0      498
800.0       498
2000.0      460
999.0       434
750.0       433
900.0       420
650.0       419
850.0       410
700.0       395
4500.0      394
300.0       384
2200.0      382
950.0       379
1100.0      376
1300.0      371
3000.0      365
550.0       356
1800.0      355
5500.0      340
350.0       335
1250.0      335
1600.0      327
1999.0      322
400.0       321
           ...
4877.0        1
2225.0        1
69997.0       1
139997.0      1
69999.0       1
4780.0        1
8930.0        1
21599.0       1
15911.0       1
10790.0       1
2785.0        1
11240.0       1
1247.0        1
5998.0        1
27020.0       1
21888.0       1
46500.0       1
2001.0        1
2459.0        1
345000.0      1
919.0         1
34940.0       1
5248.0        1
310.0         1
3129.0        1
69900.0       1
6202.0        1
18310.0       1
898.0         1
789.0         1
Name: price_$, Length: 2340, dtype: int64

After filtering obscure data points the most notable change is the median price. This went from \$9,840 to \$5,908. This is a 40% decrease and it has much to do with one extremely outlying price value of \$100 million. 

### Analysing: Odometer

In [15]:
autos["odometer_kms"].describe()

count     48401.000000
mean     125799.570257
std       39722.502478
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_kms, dtype: float64

In [16]:
print(autos["odometer_kms"].unique().shape)

(13,)

In [17]:
print(autos["odometer_kms"].value_counts())

150000    31304
125000     5046
100000     2108
90000      1733
80000      1414
70000      1215
60000      1154
50000      1011
40000       815
5000        811
30000       779
20000       761
10000       250
Name: odometer_kms, dtype: int64

The Odometer values are not extremely varied and indeed they are in bands. There are however a majority of them in the 150,000km+ category which would raise some concerns as to the legitimacy of the set. However we should also be aware that this is a sample from a larger dataset. This makes this oddity less of a concern.

### Analysing: Dates
#### Date_crawled

In [18]:
### changing "date_crawled", "ad_created", "last_seen" ###
### from a datetime stamp to a date stamp only ###
autos["date_crawled"]=autos["date_crawled"].str[:10]
autos["ad_created"]=autos["ad_created"].str[:10]
autos["last_seen"]=autos["last_seen"].str[:10]
print(autos["date_crawled"].head())

0    2016-03-26
1    2016-04-04
2    2016-03-26
3    2016-03-12
4    2016-04-01
Name: date_crawled, dtype: object

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
### value counts for each day as a percentage ###
print(autos["date_crawled"].value_counts(normalize=True, dropna=False).sort_values(ascending=False))

2016-04-03    0.038574
2016-03-20    0.037809
2016-03-21    0.037293
2016-03-12    0.036962
2016-03-14    0.036631
2016-04-04    0.036487
2016-03-07    0.036053
2016-04-02    0.035495
2016-03-28    0.034855
2016-03-19    0.034751
2016-03-15    0.034276
2016-03-29    0.034111
2016-03-30    0.033739
2016-04-01    0.033739
2016-03-08    0.033264
2016-03-09    0.033037
2016-03-22    0.032933
2016-03-11    0.032603
2016-03-23    0.032272
2016-03-26    0.032251
2016-03-10    0.032210
2016-03-31    0.031818
2016-03-17    0.031611
2016-03-25    0.031570
2016-03-27    0.031115
2016-03-16    0.029504
2016-03-24    0.029400
2016-03-05    0.025371
2016-03-13    0.015661
2016-03-06    0.014070
2016-04-05    0.013078
2016-03-18    0.012913
2016-04-06    0.003161
2016-04-07    0.001384
Name: date_crawled, dtype: float64

In [20]:
print(autos["date_crawled"].sort_values(ascending=True))

33784    2016-03-05
34224    2016-03-05
20939    2016-03-05
28933    2016-03-05
20958    2016-03-05
9850     2016-03-05
13612    2016-03-05
47733    2016-03-05
20965    2016-03-05
13620    2016-03-05
13602    2016-03-05
34272    2016-03-05
20991    2016-03-05
21011    2016-03-05
21016    2016-03-05
47746    2016-03-05
42671    2016-03-05
28960    2016-03-05
3456     2016-03-05
20977    2016-03-05
21039    2016-03-05
42785    2016-03-05
42849    2016-03-05
3304     2016-03-05
26925    2016-03-05
42954    2016-03-05
3311     2016-03-05
34139    2016-03-05
26924    2016-03-05
9853     2016-03-05
            ...
8576     2016-04-07
41121    2016-04-07
12119    2016-04-07
33996    2016-04-07
44551    2016-04-07
31608    2016-04-07
44797    2016-04-07
49569    2016-04-07
6183     2016-04-07
42072    2016-04-07
2213     2016-04-07
9363     2016-04-07
29938    2016-04-07
29853    2016-04-07
4719     2016-04-07
44894    2016-04-07
24853    2016-04-07
26209    2016-04-07
19809    2016-04-07
21527    2016-04-07
4752     2016-04-07
7982     2016-04-07
21510    2016-04-07
37112    2016-04-07
23409    2016-04-07
4378     2016-04-07
16358    2016-04-07
39445    2016-04-07
3654     2016-04-07
38743    2016-04-07
Name: date_crawled, Length: 48401, dtype: object

### Ad_created

In [21]:
print(autos["ad_created"].head())

0    2016-03-26
1    2016-04-04
2    2016-03-26
3    2016-03-12
4    2016-04-01
Name: ad_created, dtype: object

In [22]:
### value counts for each day as a percentage ###
print(autos["ad_created"].value_counts(normalize=True, dropna=False).sort_values())

2015-12-30    0.000021
2016-02-17    0.000021
2015-08-10    0.000021
2016-02-22    0.000021
2016-02-01    0.000021
2016-02-11    0.000021
2016-02-16    0.000021
2015-09-09    0.000021
2016-01-22    0.000021
2016-02-08    0.000021
2016-01-07    0.000021
2016-01-14    0.000021
2015-11-10    0.000021
2016-01-03    0.000021
2016-02-07    0.000021
2016-01-13    0.000021
2015-06-11    0.000021
2015-12-05    0.000021
2016-01-16    0.000021
2016-01-29    0.000021
2016-02-09    0.000021
2016-02-24    0.000041
2016-02-26    0.000041
2016-02-02    0.000041
2016-02-05    0.000041
2016-02-18    0.000041
2016-02-20    0.000041
2016-01-10    0.000041
2016-02-14    0.000041
2016-02-12    0.000041
                ...
2016-03-06    0.015330
2016-03-13    0.017024
2016-03-05    0.022933
2016-03-24    0.029338
2016-03-16    0.029999
2016-03-27    0.031032
2016-03-17    0.031280
2016-03-25    0.031694
2016-03-31    0.031859
2016-03-10    0.031921
2016-03-23    0.032107
2016-03-26    0.032313
2016-03-22    0.032747
2016-03-11    0.032933
2016-03-09    0.033119
2016-03-08    0.033264
2016-03-30    0.033553
2016-03-19    0.033636
2016-04-01    0.033718
2016-03-15    0.034008
2016-03-29    0.034049
2016-03-07    0.034793
2016-03-28    0.034979
2016-04-02    0.035185
2016-03-14    0.035268
2016-03-12    0.036776
2016-04-04    0.036859
2016-03-21    0.037520
2016-03-20    0.037871
2016-04-03    0.038822
Name: ad_created, Length: 76, dtype: float64

In [23]:
print(autos["date_crawled"].sort_values(ascending=True))

33784    2016-03-05
34224    2016-03-05
20939    2016-03-05
28933    2016-03-05
20958    2016-03-05
9850     2016-03-05
13612    2016-03-05
47733    2016-03-05
20965    2016-03-05
13620    2016-03-05
13602    2016-03-05
34272    2016-03-05
20991    2016-03-05
21011    2016-03-05
21016    2016-03-05
47746    2016-03-05
42671    2016-03-05
28960    2016-03-05
3456     2016-03-05
20977    2016-03-05
21039    2016-03-05
42785    2016-03-05
42849    2016-03-05
3304     2016-03-05
26925    2016-03-05
42954    2016-03-05
3311     2016-03-05
34139    2016-03-05
26924    2016-03-05
9853     2016-03-05
            ...
8576     2016-04-07
41121    2016-04-07
12119    2016-04-07
33996    2016-04-07
44551    2016-04-07
31608    2016-04-07
44797    2016-04-07
49569    2016-04-07
6183     2016-04-07
42072    2016-04-07
2213     2016-04-07
9363     2016-04-07
29938    2016-04-07
29853    2016-04-07
4719     2016-04-07
44894    2016-04-07
24853    2016-04-07
26209    2016-04-07
19809    2016-04-07
21527    2016-04-07
4752     2016-04-07
7982     2016-04-07
21510    2016-04-07
37112    2016-04-07
23409    2016-04-07
4378     2016-04-07
16358    2016-04-07
39445    2016-04-07
3654     2016-04-07
38743    2016-04-07
Name: date_crawled, Length: 48401, dtype: object

### Last_seen

In [24]:
print(autos["last_seen"].head())

0    2016-04-06
1    2016-04-06
2    2016-04-06
3    2016-03-15
4    2016-04-01
Name: last_seen, dtype: object

In [25]:
### value counts for each day as a percentage ###
print(autos["last_seen"].value_counts(normalize=True, dropna=False).sort_values(ascending=False))

2016-04-06    0.221607
2016-04-07    0.132043
2016-04-05    0.124956
2016-03-17    0.028057
2016-04-03    0.025185
2016-04-02    0.024855
2016-03-30    0.024752
2016-04-04    0.024504
2016-03-31    0.023842
2016-03-12    0.023781
2016-04-01    0.022871
2016-03-29    0.022334
2016-03-22    0.021384
2016-03-28    0.020867
2016-03-20    0.020640
2016-03-21    0.020599
2016-03-24    0.019752
2016-03-25    0.019194
2016-03-23    0.018595
2016-03-26    0.016818
2016-03-16    0.016446
2016-03-15    0.015867
2016-03-19    0.015826
2016-03-27    0.015599
2016-03-14    0.012624
2016-03-11    0.012376
2016-03-10    0.010620
2016-03-09    0.009628
2016-03-13    0.008863
2016-03-08    0.007355
2016-03-18    0.007335
2016-03-07    0.005413
2016-03-06    0.004339
2016-03-05    0.001074
Name: last_seen, dtype: float64

In [26]:
print(autos["last_seen"].sort_values(ascending=True))

24801    2016-03-05
27294    2016-03-05
34030    2016-03-05
13133    2016-03-05
39178    2016-03-05
1736     2016-03-05
22493    2016-03-05
48946    2016-03-05
9628     2016-03-05
30389    2016-03-05
11329    2016-03-05
4488     2016-03-05
40848    2016-03-05
33684    2016-03-05
3580     2016-03-05
1027     2016-03-05
36848    2016-03-05
48668    2016-03-05
3983     2016-03-05
18611    2016-03-05
33712    2016-03-05
37880    2016-03-05
34139    2016-03-05
2346     2016-03-05
10942    2016-03-05
19738    2016-03-05
669      2016-03-05
26529    2016-03-05
10142    2016-03-05
31117    2016-03-05
            ...
18978    2016-04-07
18983    2016-04-07
18998    2016-04-07
19007    2016-04-07
42300    2016-04-07
19010    2016-04-07
19014    2016-04-07
19022    2016-04-07
19024    2016-04-07
19039    2016-04-07
19040    2016-04-07
19042    2016-04-07
19043    2016-04-07
19046    2016-04-07
19111    2016-04-07
19110    2016-04-07
42265    2016-04-07
19091    2016-04-07
19089    2016-04-07
42272    2016-04-07
18593    2016-04-07
19083    2016-04-07
42275    2016-04-07
19063    2016-04-07
19058    2016-04-07
42282    2016-04-07
42283    2016-04-07
19047    2016-04-07
19080    2016-04-07
17702    2016-04-07
Name: last_seen, Length: 48401, dtype: object

### Registration_year

We can see that

In [27]:
### Describing reg_year ###
print(autos["registration_year"].describe())

count    48401.000000
mean      2004.774715
std         88.790201
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

In [28]:
print(autos["registration_year"].sort_values(ascending=True))
print("\n")
print(autos.loc[10556])
print("\n")
print(autos.loc[10556])
print("\n")
print(autos.loc[30781])

22316    1000
49283    1001
24511    1111
32585    1800
10556    1800
30781    1910
22659    1910
45157    1910
28693    1910
21416    1927
22101    1929
11246    1931
2221     1934
2573     1934
26607    1937
39725    1937
23804    1937
21421    1937
26103    1938
24855    1939
13963    1941
25792    1941
11585    1943
11047    1948
14020    1950
35921    1951
44406    1951
23372    1952
35453    1953
25556    1954
         ...
21379    2018
6597     2018
27672    2018
38978    2018
41840    2018
9575     2018
22339    2018
6321     2018
5950     2018
24334    2018
31810    2018
17069    2018
34800    2018
49185    2019
5763     2019
27578    2800
4549     4100
453      4500
42079    4800
49153    5000
4164     5000
22799    5000
24519    5000
27618    5911
8360     6200
25003    8888
49910    9000
38076    9999
33950    9999
8012     9999
Name: registration_year, Length: 48401, dtype: int64


date_crawled          2016-04-01
name                  UNFAL_Auto
seller                    privat
offer_type               Angebot
price_$                      450
abtest                   control
vehicle_type                 NaN
registration_year           1800
gearbox                      NaN
power_ps                    1800
model                        NaN
odometer_kms                5000
registration_month             2
fuel_type                    NaN
brand                 mitsubishi
unrepaired_damage           nein
ad_created            2016-04-01
nr_of_pictures                 0
postal_code                63322
last_seen             2016-04-01
Name: 10556, dtype: object


date_crawled          2016-04-01
name                  UNFAL_Auto
seller                    privat
offer_type               Angebot
price_$                      450
abtest                   control
vehicle_type                 NaN
registration_year           1800
gearbox                      NaN
power_ps                    1800
model                        NaN
odometer_kms                5000
registration_month             2
fuel_type                    NaN
brand                 mitsubishi
unrepaired_damage           nein
ad_created            2016-04-01
nr_of_pictures                 0
postal_code                63322
last_seen             2016-04-01
Name: 10556, dtype: object


date_crawled                                2016-03-25
name                  Opel_Calibra_V6_DTM_Bausatz_1:24
seller                                          privat
offer_type                                     Angebot
price_$                                             30
abtest                                            test
vehicle_type                                       NaN
registration_year                                 1910
gearbox                                            NaN
power_ps                                             0
model                                          calibra
odometer_kms                                    100000
registration_month                                   0
fuel_type                                          NaN
brand                                             opel
unrepaired_damage                                  NaN
ad_created                                  2016-03-25
nr_of_pictures                                       0
postal_code                                      47638
last_seen                                   2016-03-26
Name: 30781, dtype: object

We can see that some of the oldest registration dates at well before the invention of motor vehucles and some slighly more recent in 1800AD are registered as made by "Mitsubishi Motors". Mitsubishi motors was founded in 1917. There are also some cars as registered after 2019. And so this is all incorrect data. We will remove these afrementioned data points. 

Motor vehicles were in production by the late 1800's and so 1900 will be placed as the arbitrary low date and 2019 as the top limit.

In [29]:
autos=autos[autos["registration_year"].between(1900,2019)]

In [30]:
print(autos["registration_year"].sort_values(ascending=True))

45157    1910
22659    1910
30781    1910
28693    1910
21416    1927
22101    1929
11246    1931
2221     1934
2573     1934
39725    1937
23804    1937
21421    1937
26607    1937
26103    1938
24855    1939
13963    1941
25792    1941
11585    1943
11047    1948
14020    1950
44406    1951
35921    1951
23372    1952
35453    1953
40765    1954
25556    1954
36794    1955
24515    1955
7294     1956
26570    1956
         ...
40254    2018
41656    2018
14759    2018
6424     2018
43901    2018
28573    2018
48249    2018
42524    2018
38345    2018
21243    2018
35773    2018
19373    2018
29166    2018
47340    2018
33738    2018
21568    2018
7283     2018
6172     2018
34702    2018
12442    2018
34980    2018
49075    2018
7280     2018
26926    2018
20449    2018
20377    2018
38755    2018
21510    2018
5763     2019
49185    2019
Name: registration_year, Length: 48381, dtype: int64

In [31]:
print(autos["registration_year"].value_counts(normalize=True))
print(autos["registration_year"].unique().shape)

2000    0.064653
2005    0.060499
1999    0.059652
2004    0.055786
2003    0.055724
2006    0.055187
2001    0.054402
2002    0.051260
1998    0.048593
2007    0.047002
2008    0.045741
2009    0.043054
1997    0.040140
2011    0.033546
2010    0.032843
2017    0.028648
1996    0.028193
2012    0.027077
1995    0.025072
2016    0.024968
2013    0.016577
2014    0.013683
1994    0.013001
2018    0.009694
1993    0.008764
2015    0.008040
1992    0.007606
1990    0.007069
1991    0.007007
1989    0.003534
          ...
1976    0.000434
1969    0.000393
1975    0.000372
1965    0.000351
1964    0.000248
1963    0.000165
1959    0.000124
1961    0.000124
1910    0.000083
1937    0.000083
1962    0.000083
1956    0.000083
1958    0.000083
1955    0.000041
2019    0.000041
1934    0.000041
1957    0.000041
1951    0.000041
1941    0.000041
1954    0.000041
1953    0.000021
1950    0.000021
1948    0.000021
1927    0.000021
1943    0.000021
1929    0.000021
1939    0.000021
1938    0.000021
1931    0.000021
1952    0.000021
Name: registration_year, Length: 81, dtype: float64
(81,)

In [32]:
print(autos["registration_year"].describe())

count    48381.000000
mean      2003.476427
std          7.537990
min       1910.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       2019.000000
Name: registration_year, dtype: float64

Interestingly is that despite the extremely outlying values that we removed from "registration_date" the mean year of registration did not changed from 2004. However the std deviation came down from a clearly incorrect 88 years to a more believable 7 1/2 years.

## Analysing: Brand

In [77]:
print(autos["brand"].describe())
print("\n")
print(autos["brand"].value_counts(normalize=True))

count          48381
unique            40
top       volkswagen
freq           10302
Name: brand, dtype: object


volkswagen        0.212935
bmw               0.108555
opel              0.108410
mercedes_benz     0.095781
audi              0.085881
ford              0.069759
renault           0.047891
peugeot           0.029474
fiat              0.026043
seat              0.018912
skoda             0.016081
nissan            0.015295
mazda             0.015275
smart             0.014344
citroen           0.014117
toyota            0.012629
hyundai           0.009963
sonstige_autos    0.009467
volvo             0.009032
mini              0.008619
mitsubishi        0.008144
honda             0.007999
kia               0.007131
alfa_romeo        0.006614
suzuki            0.005891
porsche           0.005870
chevrolet         0.005663
chrysler          0.003493
dacia             0.002666
daihatsu          0.002522
jeep              0.002212
subaru            0.002088
land_rover        0.002046
saab              0.001633
daewoo            0.001571
jaguar            0.001530
trabant           0.001385
rover             0.001344
lancia            0.001137
lada              0.000599
Name: brand, dtype: float64

In [47]:
top_brands=autos["brand"].value_counts(normalize=True).head(16).index
print(top_brands)

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat', 'skoda', 'nissan', 'mazda', 'smart',
       'citroen', 'toyota'],
      dtype='object')

Here we have chosed the brands that represent at least 1% of the dataset. This comes to the top 16 most common brands in the data sample. The Germans brans unrurprisingly account for over half the set.

In [75]:
top_brands_mean_price={}
for brand in top_brands:
    selected_rows=autos[autos["brand"]==brand]
    mean_price=selected_rows["price_$"].mean().round()
    top_brands_mean_price[brand]=mean_price.round()
    print(brand, mean_price)
#print(top_brands_mean_price)
#print(type(top_brands_mean_price))

volkswagen 5348.0
bmw 8296.0
opel 2958.0
mercedes_benz 8556.0
audi 9242.0
ford 3736.0
renault 2440.0
peugeot 3074.0
fiat 2798.0
seat 4339.0
skoda 6370.0
nissan 4676.0
mazda 4059.0
smart 3518.0
citroen 3767.0
toyota 5148.0

In [78]:
autos=autos[autos["price_$"].between(10,500000)]
autos["price_$"].describe()

count     48381.000000
mean       5908.388169
std        9068.189270
min          10.000000
25%        1250.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price_$, dtype: float64

### Analysing: Mean Price of Top Selling Cars

The dominant vehicles on the list are Volkswagens. The account for over 20% of the vehicles being sold. They are also slightly below the mean price. This makes sense for a popular "peoples car". 

Only 4 of the top 16 brands have average selling prices over the total dataset's mean. These are "BMW", "Mecredeze", "Audi" and "Skoda". This is not surprising. These are quality German car companies. 

And only BMW", "Mecredeze", "Audi" even make the 75th percentile. These also place in 2,4 and 5 in order of their popularity. Thus we can see that expensive vehicles are being sold on German Ebay at a higher rate than more affordable cars.

In [80]:
top_brands_mean_mileage={}
for brand in top_brands:
    selected_rows=autos[autos["brand"]==brand]
    mean_mileage=selected_rows["odometer_kms"].mean().round()
    top_brands_mean_mileage[brand]=mean_mileage.round()
    print(brand, mean_mileage)

volkswagen 128956.0
bmw 132687.0
opel 129453.0
mercedes_benz 130899.0
audi 129568.0
ford 124296.0
renault 128131.0
peugeot 127311.0
fiat 117516.0
seat 121803.0
skoda 110893.0
nissan 118750.0
mazda 124871.0
smart 100512.0
citroen 120073.0
toyota 116219.0

In [81]:
autos["odometer_kms"].describe()

count     48381.000000
mean     125848.783613
std       39656.850162
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_kms, dtype: float64

### Analysing: Mean Price of Top Selling Cars

### Converting Dict to Series

In [88]:
bmm_series = pd.Series(top_brands_mean_mileage)
bmp_series = pd.Series(top_brands_mean_price)
print("Mean mileage for top brands [kms]")
print(bmm_series)
print("\n")
print("Mean price for top brands [$]")
print(bmp_series)

Mean mileage for top brands [kms]
audi             129568.0
bmw              132687.0
citroen          120073.0
fiat             117516.0
ford             124296.0
mazda            124871.0
mercedes_benz    130899.0
nissan           118750.0
opel             129453.0
peugeot          127311.0
renault          128131.0
seat             121803.0
skoda            110893.0
smart            100512.0
toyota           116219.0
volkswagen       128956.0
dtype: float64


Mean price for top brands [$]
audi             9242.0
bmw              8296.0
citroen          3767.0
fiat             2798.0
ford             3736.0
mazda            4059.0
mercedes_benz    8556.0
nissan           4676.0
opel             2958.0
peugeot          3074.0
renault          2440.0
seat             4339.0
skoda            6370.0
smart            3518.0
toyota           5148.0
volkswagen       5348.0
dtype: float64

In [92]:
top_brands_df = pd.DataFrame(bmm_series, columns=['top_brands_mean_mileage'])
top_brands_df.describe()

       top_brands_mean_mileage
count                16.000000
mean             122621.125000
std                8487.990676
min              100512.000000
25%              118441.500000
50%              124583.500000
75%              129080.250000
max              132687.000000

In [93]:
top_brands_df['top_brands_mean_price']=bmp_series
top_brands_df.describe()

       top_brands_mean_mileage  top_brands_mean_price
count                16.000000               16.00000
mean             122621.125000             4895.31250
std                8487.990676             2150.52247
min              100512.000000             2440.00000
25%              118441.500000             3407.00000
50%              124583.500000             4199.00000
75%              129080.250000             5603.50000
max              132687.000000             9242.00000

In [96]:
print(top_brands_df)

               top_brands_mean_mileage  top_brands_mean_price
audi                          129568.0                 9242.0
bmw                           132687.0                 8296.0
citroen                       120073.0                 3767.0
fiat                          117516.0                 2798.0
ford                          124296.0                 3736.0
mazda                         124871.0                 4059.0
mercedes_benz                 130899.0                 8556.0
nissan                        118750.0                 4676.0
opel                          129453.0                 2958.0
peugeot                       127311.0                 3074.0
renault                       128131.0                 2440.0
seat                          121803.0                 4339.0
skoda                         110893.0                 6370.0
smart                         100512.0                 3518.0
toyota                        116219.0                 5148.0
volkswagen                    128956.0                 5348.0

With the dictionaries of mean price and mileage derived above and now converted into a new dataframe we can much more clearly some comparisons.

In [101]:
print(top_brands_df.sort_values('top_brands_mean_mileage', ascending=False))

               top_brands_mean_mileage  top_brands_mean_price
bmw                           132687.0                 8296.0
mercedes_benz                 130899.0                 8556.0
audi                          129568.0                 9242.0
opel                          129453.0                 2958.0
volkswagen                    128956.0                 5348.0
renault                       128131.0                 2440.0
peugeot                       127311.0                 3074.0
mazda                         124871.0                 4059.0
ford                          124296.0                 3736.0
seat                          121803.0                 4339.0
citroen                       120073.0                 3767.0
nissan                        118750.0                 4676.0
fiat                          117516.0                 2798.0
toyota                        116219.0                 5148.0
skoda                         110893.0                 6370.0
smart                         100512.0                 3518.0

For example it is easy to see and interesting to note that the three most expensive brands seem to also have the most mean mileage as well.